{erl_opts, [debug_info]}.

{deps, [
    {cowboy, "2.12.0"},
    {gun, "2.1.0"},
    {jsx, "3.1.0"},
    {prometheus, "4.11.0"},
    {prometheus_cowboy, "0.1.8"},
    {uuid, "2.0.6", {pkg, uuid_erl}}
]}.

{project_plugins, [rebar3_hex, rebar3_ex_doc]}.

{relx, [
    {release, {hookline, "0.1.0"}, [
        kernel, stdlib, sasl, inets,
        hl_api,
        hl_core,
        hl_delivery,
        hl_stream,
        hl_store_client,
        hl_dev_inbox,
        hl_cluster
    ]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, false},
            {include_src, false}
        ]}
    ]},
    {test, [
        {deps, [{meck, "0.9.2"}]},
        {erl_opts, [debug_info]}
    ]}
]}.

{umbrella, [
    {apps, [
        {hl_api,          "apps/hl_api"},
        {hl_core,         "apps/hl_core"},
        {hl_delivery,     "apps/hl_delivery"},
        {hl_stream,       "apps/hl_stream"},
        {hl_store_client, "apps/hl_store_client"},
        {hl_dev_inbox,    "apps/hl_dev_inbox"},
        {hl_cluster,      "apps/hl_cluster"}
    ]}
]}.

{eunit_opts, [verbose]}.
{cover_enabled, true}.
{cover_opts, [verbose]}.
