{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [
    {cowboy, "2.12.0"},
    {gun, "2.1.0"},
    {jsx, "3.1.0"},
    {prometheus, "4.11.0"},
    {prometheus_cowboy, "0.1.8"},
    {uuid, "2.0.6", {pkg, uuid_erl}},
    {lager, "3.9.2"}
]}.

{project_plugins, [rebar3_hex, rebar3_ex_doc]}.

{relx, [
    {release, {gatepulse, "0.1.0"}, [
        gp_api,
        gp_core,
        gp_delivery,
        gp_stream,
        gp_store_client,
        gp_dev_inbox,
        gp_cluster,
        sasl
    ]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, false},
            {include_src, false}
        ]}
    ]},
    {test, [
        {deps, [{meck, "0.9.2"}]},
        {erl_opts, [debug_info]}
    ]}
]}.

{umbrella, [
    {apps, [
        {gp_api,          "apps/gp_api"},
        {gp_core,         "apps/gp_core"},
        {gp_delivery,     "apps/gp_delivery"},
        {gp_stream,       "apps/gp_stream"},
        {gp_store_client, "apps/gp_store_client"},
        {gp_dev_inbox,    "apps/gp_dev_inbox"},
        {gp_cluster,      "apps/gp_cluster"}
    ]}
]}.

{eunit_opts, [verbose]}.
{cover_enabled, true}.
{cover_opts, [verbose]}.
